.header--container {
	background-color: #F55A5A;
	height: 50px;
	display: flex;
	align-items: center;
	color: white;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	justify-content: center;
	gap: 6px;
}

.main--container {
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-top: 50px;
}

.card--container {
	display: flex;
	gap: 30px;
	border-bottom: 1px solid #F5F5F5;
	padding: 25px 0;
}

.card--info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card--image {
	width: 200px;
	height: 250px;
	border-radius: 15px;
}

.card--info-title {
	display: flex;
	align-items: center;
	gap: 10px;
}

.card--info-title a {
	color: grey;
	text-decoration: none;
	border-bottom: 1px solid grey;
}

.card-location {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
}

.card--main-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	padding: 8px 0 20px 0;
}

.card--dates {
	font-weight: 700;
	font-size: 12px;
}

.card--description {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	width: 400px;
	margin-top: 10px
}